<%= render "shared/header"%>

<section class="event-show"> 
  <div class="title">
    <h1><%= @question.title %></h1>
  </div>
  <div class="body">
    <div class="wrapper-bottom">
      <h2>Country</h2>
      <p class="content">
        <%= @question.country.name %>
      </p>
      <h2>Detail</h2>
      <p class="content">
        <%= simple_format(@question.text) %>
      </p>
    </div>
  </div>
</section>

<% if user_signed_in? %>
  <section class="btn-wrapper"> 
    <div class="btn-wrapper-inner-top">
      <p class="btn"><%= link_to "Comment", new_question_answer_path( @question) %></p>
    </div>
    <% if current_user.id == @question.user_id %>
      <div class="btn-wrapper-inner-bottom">
        <p class="btn"><%= link_to "Edit this question", edit_question_path(@question) %></p>
        <p class="btn"><%= link_to "Delete this question", question_path(@question),method: :delete %></p>
      </div>
    <% end %>
  </section>
<% else %>
  <section class="btn-wrapper"> 
    <div class="btn-wrapper-inner-top">
      <p class="btn"><%= link_to "Comment", new_user_session_path %></p>
    </div>
  </section>
<% end %>
<section class="answer-wrapper">
  <div class="answers">
    <h2>Answers</h2>
    <ul class="answer-list">
      <% @answers.each do |answer| %>
        <li class="answer-item">
          <div class="upper-container">
            <div class="content"><%= simple_format(answer.content) %></div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>

<div class="footer">
  <%= render "shared/footer"%>
<div>