<%= render "shared/header"%>

<section class="item-show"> 
  <div class="title">
    <h1><%= @question.title %></h1>
  </div>
  <div class="container">
    <div class="container-inner">
      <div class="wrapper-bottom">
        <div class="country">
          <h2>Country</h2>
          <p class="content">
            <%= @question.country.name %>
          </p>
        </div>
        <div class="detail">
          <h2>Detail</h2>
          <p class="content"><%= safe_join(@question.text.split("\n"),tag(:br))%></p>
        </div>
      </div>
    </div>
  </div>
</section>
<% if user_signed_in? %>
  <section class="btn-wrapper"> 
    <div class="btn-wrapper-inner-top">
      <div class="newpost">
        <span class="heading-sm">Do you have answer?  </span>
        <%= link_to "Click here", new_question_answer_path(@question), class: "heading-sm link blue" %>
      </div>
    </div>
    <% if current_user.id == @question.user.id %>
      <div class="btn-wrapper-inner-bottom">
        <%= link_to edit_question_path(@question) do %>
          <p class="btn-md">Edit this question</p>
        <% end %>
        <%= link_to question_path(@question), method: :delete do %>
          <p class="btn-md">Delete this question</p>
        <% end %>
      </div>
    <% end %>
  </section>
<% else %>
  <section class="btn-wrapper"> 
    <div class="newpost">
      <span class="heading-sm">Do you have answer?  </span>
      <%= link_to "Click here", new_user_session_path, class: "heading-sm link blue" %>
    </div>
  </section>
<% end %>

<section class="answer-wrapper">
  <div class="answers">
    <h2>Answers</h2>
    <ul class="answer-list">
      <% @answers.each do |answer| %>
        <li class="answer-item">
          <div class="upper-container">
            <div class="content"><%= safe_join(answer.content.split("\n"),tag(:br))%>/div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>

<div class="footer">
  <%= render "shared/footer"%>
<div>