<%= render "shared/header"%>

<section class="input-field">
  <div class="container">
    <div class="container-inner">
      <div class="wrapper-title">
        <%= image_tag "general_user.png", class: "image" %>
        <h2 class="title">User Registration</h2>
      </div>

      <hr>

      <%= form_with model: @user, url: registration_path(@user), class: 'registration-main', local: true do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <div class="row">
            <div class="left">
              <%= f.label :full_name, "Full Name", for: "full_name" %>
              <div>
                <%= f.text_field :full_name, placeholder:"Full Name", id: "full_name", class:"input", autofocus: true %>
              </div>
            </div>
            <div class="right">
              <%= f.label :email, "Email", for: "email" %>
              <div>
                <%= f.email_field :email, placeholder:"Email", id: "email", class: "input" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="left">
              <%= f.label :password, "Password", for: "password" %>
              <div>
                <%= f.password_field :password, placeholder:"Password", id: "password", class:"input" %>
              </div>
            </div>
            <div class="right">
              <%= f.label :password_confirmation, "Password Comformation", for: "password_confirmation" %>
              <div>
                <%= f.password_field :password_confirmation, placeholder:"Password Confirmation", id: "password_confirmation", class: "input" %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="left">
              <%= f.label :gender, "Gender", for: "gender" %>
              <div>
                <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {id: "gender", class:"input"}) %>
              </div>
            </div>
            <div class="right">
              <%= f.label :birthday, "Date of birth", for: "birthday", id: "birthday_label" %>
              <div>
                <%= raw sprintf(f.date_select(:birthday, with_css_classes:'birthday', id:"birthday", use_month_numbers: true, prompt:'--', start_year: 1930, end_year: (Time.now.year), date_separator: '%s'), " / ", " / ") %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="left">
              <%= f.label :country, "Country(Optional)", for: "country" %>
              <div>
                <%= f.collection_select(:country_id, Country.all, :id, :name, {}, {id: "country", class:"input"}) %>
              </div>
            </div>
            <div class="right">
              <%= f.label :city, "City(Optional)", for: "city" %>
              <div>
                <%= f.text_field :city, placeholder:"City", id: "city", class: "input" %>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="left">
              <%= f.label :language, "Language(Optional)", for: "language" %>
              <div>
                <%= f.text_field :language, placeholder:"language", id: "language", class: "input" %>
              </div>
            </div>
            
            <div class="right">
              <%= f.label :image, "Image(Optional)", for: "image" %>
              <div><%= f.file_field :image %></div>
            </div>
          </div>

          <div class='row'>
            <%= f.submit "Register", id: "register-btn", class: "btn" %>
          </div>

      <% end %>
    </div>
  </div>
</section>
