<%= render "shared/header"%>

<section class="user-top">
  <div class="top-image">
    <% if @user.image.attached? %>
      <div><%= image_tag @user.image, class: "image" %></div>
    <% else %>
      <div><%= image_tag "general_user.png", class: "image" %></div>
    <% end %>
    <p class="name"><%= @user.full_name %></p>
  </div>
</section>

<section class="user-tabs">
  <div class="container">
    <div id="tab-1" class="tab-item tab-border">
      <%= icon('fas', 'glass-cheers', class: 'icon') %>
      <p>My Event</p>
    </div>
    <div id="tab-2" class="tab-item">
      <%= icon('fas', 'newspaper', class: 'icon') %>
      <p>My Article</p>
    </div>
    <div id="tab-3" class="tab-item">
      <%= icon('fas', 'question', class: 'icon') %>
      <p>My Q&A</p>
    </div>
    <div id="tab-4" class="tab-item">
      <%= icon('fas', 'id-card', class: 'icon') %>
      <p>My Profile</p>
    </div>
    <div id="tab-5" class="tab-item">
      <%= icon('fas', 'user-friends', class: 'icon')  %>
      <p>My Friends</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="container">
    <!-- タブ中身 1 -->
    <div id="tab-1-content" class="tab-content-item show">
      <div class="tab-1-content-inner">
        <div class="latest-events">
          <%# <%= link_to "Make new event", new_event_path, class: "btn" %>
          <h2>Latest events</h2>
          <ul class="event-list">
          <% @user_events.each do |user_event| %>
            <li class="event-item">
              <%# <%= link_to event_path(user_event.event.id) do %> 
                <div class="image"><%= image_tag user_event.event.image %></div>
                <div class="title"><%= user_event.event.title %></div>
              <%# <% end %> 
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div> 

    <!-- タブ中身 2 -->
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-inner">
        <div class="latest-article">
          <%# <%= link_to "Make new article", new_article_path, class: "btn" %> 
          <h2>Latest Articles</h2>
          <ul class="article-list">
            <% @articles.each do |article| %>
              <li class="article-item">
                <%# <%= link_to article_path(article.id) do %> %>
                  <div class="image"><%= image_tag article.image %></div>
                  <div class="title"><%= article.title %></div>
                <%# <% end %> %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>  

    <!-- タブ中身 3 -->
    <div id="tab-3-content" class="tab-content-item">
      <div class="tab-3-content-inner">
        <div class="btn-newpost">
          <%# <%= link_to "Ask your question", new_country_question_path(@country), class: "btn-lg" %>
        </div>
        <div class="latest-questions">
          <h2>Latest Questions</h2>
          <ul class="question-list">
          <% @questions.each do |question| %>
            <li class="question-item">
              <%# <%= link_to country_question_path(@country, question.id) do %>
                <div class="upper-container">
                  <div class="status"><%= question.status.name %></div>
                  <div class="question-title"><%= question.title %></div>
                </div>
              <%# <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>  
    <!-- タブ中身 4 -->
    <div id="tab-4-content" class="tab-content-item">
      <div class="tab-4-content-inner">
        <div class="profile">
          <h2>My Profile</h2>
          <%= @user.gender.name %>
          <%= @user.city %>
          <%= @user.birthday %>
        </div>
      </div>
    </div> 
    <!-- タブ中身 5 -->
    <div id="tab-5-content" class="tab-content-item">
      <div class="tab-5-content-inner">
        <div>
          <h2>My friends</h2>
        </div>
      </div>
    </div> 
  </div>
</section>