<%= render "shared/header"%>

<section class="user-top">
  <div class="top-image">
    <% if @user.image.attached? %>
      <div><%= image_tag @user.image, class: "image" %></div>
    <% else %>
      <div><%= image_tag "general_user.png", class: "image" %></div>
    <% end %>
    <p class="name"><%= @user.full_name %></p>
  </div>
</section>

<section class="user-tabs">
  <div class="container">
    <div id="tab-1" class="tab-item tab-border">
      <%= icon('fas', 'glass-cheers', class: 'icon') %>
      <p>My Event</p>
    </div>
    <div id="tab-2" class="tab-item">
      <%= icon('fas', 'newspaper', class: 'icon') %>
      <p>My Article</p>
    </div>
    <div id="tab-3" class="tab-item">
      <%= icon('fas', 'question', class: 'icon') %>
      <p>My Q&A</p>
    </div>
    <div id="tab-4" class="tab-item">
      <%= icon('fas', 'id-card', class: 'icon') %>
      <p>My Profile</p>
    </div>
    <div id="tab-5" class="tab-item">
      <%= icon('fas', 'user-friends', class: 'icon')  %>
      <p>My Friends</p>
    </div>
  </div>
</section>

<section class="tab-content user-tab-content">
  <div>
    <%# タブコンテント イベント %>
    <div id="tab-1-content" class="tab-content-item show">
      <div class="tab-1-content-inner">
        <div class="newpost">
          <span class="heading-sm">Start a New Event?  </span>
          <%= link_to "Click here", new_event_path, class: "heading-sm link blue" %>
        </div>
        <div class="wrapper-category">
          <h2 class="category">Latest Events</h2>
          <ul class="list-event">
          <% @user_events.each do |user_event| %>
            <li class="item-event">
              <%= link_to event_path(user_event.event.id) do %>
                <div class="image-event"><%= image_tag user_event.event.image.variant(resize: '300x200') %></div>
                <div class="title-event"><%= user_event.event.title %></div>
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div> 

    <%# タブコンテント 記事 %>
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-inner">
        <div class="newpost">
          <span class="heading-sm">Write a New Article?  </span>
          <%= link_to "Click here", new_article_path, class: "heading-sm link blue" %>
        </div>
        <div class="wrapper-category">
          <h2 class="category">Latest Articles</h2>
          <ul class="list-article slider">
            <% @articles.each do |article| %>
              <li class="item-article">
                <%= link_to article_path(article.id) do %>
                  <div class="image-article"><%= image_tag article.image.variant(resize: '300x200') %></div>
                  <div class="title-article"><%= article.title %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>  

    <%# タブコンテント Q&A %>
    <div id="tab-3-content" class="tab-content-item">
      <div class="tab-3-content-inner">
        <div class="newpost">
          <span class="heading-sm">Ask Your Question?  </span>
          <%= link_to "Click here", new_question_path, class: "heading-sm link blue" %>
        </div>
        <div class="wrapper-category">
          <h2 class="category">Latest Questions</h2>
          <ul class="list-question">
          <% @questions.each do |question| %>
            <li class="item-question">
              <%= link_to question_path(question.id) do %>
                <div class="wrapper-row">
                  <% if question.status_id == 1 %>
                    <div class="status-question-open"><%= question.status.name %></div>
                  <% else %>
                    <div class="status-question-close"><%= question.status.name %></div>
                  <% end %>
                  <div class="title-question"><%= question.title %></div>
                </div>
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>  
    <%# タブコンテント マイプロフィール %>
    <div id="tab-4-content" class="tab-content-item">
      <div class="tab-4-content-inner">
        <div class="wrapper-btn">
          <%= link_to "Edit Profile", edit_user_path(@user), class: "btn-lg" %>
        </div>
        <div class="profile">
          <h2>My Profile</h2>
          <div class="wrapper">
            <p class="category">Gender</p>
            <p class="data"><%= @user.gender.name %></p>
          </div>          
          <div class="wrapper">
            <p class="category">Country</p>
            <p class="data"><%= @user.country.name %></p>
          </div>          
          <div class="wrapper">
            <p class="category">City</p>
            <p class="data"><%= @user.city %></p>
          </div>          
          <div class="wrapper">
            <p class="category">Birthday</p>
            <p class="data"><%= @user.birthday %></p>
          </div>          
          <div class="wrapper">
            <p class="category">Language</p>
            <p class="data"><%= @user.language %></p>
          </div>
        </div>
      </div>
    </div> 
    <%# タブコンテント フレンズ %>
    <div id="tab-5-content" class="tab-content-item">
      <div class="tab-5-content-inner">
        <div class="friends">
          <p>Coming soon</p>
        </div>
      </div>
    </div> 
  </div>
</section>