<header>
  <div class="container">
    <%= link_to "Befriends", root_path, class: "logo" %>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <%= link_to user_path(current_user.id) do%>
            <li><%= current_user.full_name %></li>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete do%>
            <li>Log out</li>
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path do%>
            <li>Sign up</li>
          <% end %>
          <%= link_to new_user_session_path do%>
            <li>Log in</li>
          <% end %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>