<%= render "shared/header"%>

<section class="item-show"> 
  <div class="title">
    <h1><%= @event.title %></h1>
  </div>
  <div class="container">
    <div class="container-inner">
      <div class="top-info">
        <div class="image">
          <%= image_tag @event.image.variant(resize: '800x800') %>
        </div>
        <div class="wrapper">
          <div class="place">
            <p class="row">Place: </p>
            <% if user_signed_in? && @event.online == true && @user_events.exists?(user_id: current_user.id) %>
              <p class="row"><%= @event.place %></p>
            <% elsif @event.online == false %>
              <p class="row"><%= @event.place %></p>
            <% else %>
              <p class="row">This is online event. The link to join shows only for participants</p>
            <% end %>
          </div>
          <div class="time">
            <p class="row">Start Time:  <%= @event.start_time %></p>
            <p class="row">End Time:  <%= @event.end_time %></p>
          </div>
        </div>
      </div>
      <div class="wrapper-bottom">
        <div class="country">
          <h2>Country</h2>
          <p class="content">
            <%= @event.country.name %>
          </p>
        </div>
        <div class="user">
          <h2>Host</h2>
          <p class="content link-content">
            <%= link_to @event.user_events.first.user.full_name, user_path(@event.user_events.first.user_id) %>
          </p>
        </div>
        <div class="detail">
          <h2>Detail</h2>
          <p class="content"><%= safe_join(@event.content.split("\n"),tag(:br))%></p>
        </div>
        <div class="detail">
          <h2>Participants</h2>
          <ul class="list-participant">
            <% @user_events.each do |user_event| %>
              <%if user_event.user.image.attached? %>
                <li class="item-participant">
                  <div><%= image_tag user_event.user.image %></div>
                  <%= link_to user_path(user_event.user_id) do %>
                    <div class="name"><%= user_event.user.full_name %></div>
                  <% end %>
                </li>
              <% else %>
                <li class="item-participant">
                  <div><%= image_tag "general_user.png" %></div>
                  <%= link_to user_path(user_event.user_id) do %>
                    <div class="name"><%= user_event.user.full_name %></div>
                  <% end %>
                </li>
              <% end %>                
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<% if user_signed_in? %>
  <section class="btn-wrapper"> 
    <div class="btn-wrapper-inner-top">
      <% if @user_events.exists?(user_id: current_user.id) %>
        <div class="newpost">
          <span class="heading-sm">You have already joined this event</span>
        </div>
      <% else %>
        <div class="newpost">
          <span class="heading-sm">Join this Event?  </span>
          <%= link_to "Click here", event_user_events_path(@event), method: :post, class: "heading-sm link blue" %>
        </div>
      <% end %>
      </div>
      <div class="btn-wrapper-inner-top">
        <div class="newpost">
          <span class="heading-sm">Any comments?  </span>
          <%= link_to "Click here", new_event_event_comment_path(@event), class: "heading-sm link blue" %>
        </div>
      </div>
    <% if current_user.id == @event.user_events.first.user_id %>
    <div class="btn-wrapper-inner-bottom">
      <%= link_to edit_event_path(@event) do %>
        <p class="btn-md">Edit this event</p>
      <% end %>
      <%= link_to event_path(@event), method: :delete do %>
        <p class="btn-md">Delete this event</p>
      <% end %>
    </div>
    <% end %>
  </section>
<% else %>
  <section class="btn-wrapper"> 
    <div class="newpost">
      <span class="heading-sm">Join this Event?  </span>
      <%= link_to "Click here", new_user_session_path, class: "heading-sm link blue" %>
    </div>
    <div class="newpost">
      <span class="heading-sm">Any comments?  </span>
      <%= link_to "Click here", new_user_session_path, class: "heading-sm link blue" %>
    </div>
  </section>
<% end %>

<section class="answer-wrapper">
  <div class="answers">
    <h2>Comments</h2>
    <ul class="answer-list">
      <% @event_comments.each do |event_comment| %>
        <li class="answer-item">
          <div class="upper-container">
            <%= link_to user_path(event_comment.user_id) do %>
            <div class="name"><%= event_comment.user.full_name%></div>
            <% end %>
            <div class="content"><%= safe_join(event_comment.content.split("\n"),tag(:br))%></div>
            <div class="time"><%= event_comment.created_at %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</section>

<div class="footer">
  <%= render "shared/footer"%>
<div>