<%= render "shared/header"%>

<section class="input-field login-field">
  <div class="container">
    <div class="container-inner">
      <div class="wrapper-title">
        <%= image_tag "general_user.png", class: "image" %>
        <h2 class="title">Login</h2>
      </div>

      <hr>

      <%= form_with model: @user, url: user_session_path, class: 'login-main', local: true do |f| %>
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
        <%- end -%> 
        <div class="email">
          <label for="email">Email</label>
          <div>
            <%= f.email_field :email, placeholder:"Email", id: "email", class: "input" %>
          </div>
        </div>

        <div class="password">
          <label for="password">Password</label>
          <div>
            <%= f.password_field :password, placeholder:"Password", id: "password", class: "input" %>
          </div>
        </div>

        <div class='row'>
          <%= f.submit "Submit", id: "register-btn", class: "btn" %>
        </div>

      <% end %>
      <div class="guest">
        <%= link_to 'Guest Login', users_guest_sign_in_path, method: :post, class: "btn btn-blue" %>
      </div>
    </div>
  </div>
</section>

<div class="footer">
  <%= render "shared/footer"%>
<div>
