<%= render "shared/header"%>

<section class="input-field">
  <div class="container">
    <div class="container-inner">
      <div class="wrapper-title">
        <h2 class="title">Comment</h2>
      </div>

      <hr>

      <%= form_with model:[@event, @event_comment], local: true, class: "input_management" do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="wrapper">
          <div><%= f.text_area :content, class:"input content" %></div>
        </div>

          <div class='wrapper row'>
            <div><%= f.submit "Post", id: "register-btn", class: "btn" %></div>
          </div>
      <% end %>
    </div>
  </div>
</section>