<%= render "shared/header"%>

<section class="showcase">
  <div class="showcase-content">
    <h1 class="white">Make Friends All Over The World</h1>
    <p class="white">Connect wherever you want</p>
  </div>
</section>

<section class="country-list">
  <h2 class="heading">Choose country you want to check</h2>
  <div class="wrapper-top">
    <div class="wrapper-inner">
      <div class="region asia">
        <p class="region-name white">Asia</p>
      </div>
      <div class="country">
        <ul class="country-item">
          <% @asia_countries.each do |asia_country| %>
            <li>
              <%= link_to country_path(asia_country.id) do %>
                <%= asia_country.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="wrapper-inner">
      <div class="region europe">
        <p class="region-name white">Europe</p>
      </div>
      <div class="country">
        <ul class="country-item">
          <% @europe_countries.each do |europe_country| %>
            <li>
              <%= link_to country_path(europe_country.id) do %>
                <%= europe_country.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="wrapper-inner">
      <div class="region north-america">
        <p class="region-name white">North America</p>
      </div>
      <div class="country">
        <ul class="country-item">
          <% @north_america_countries.each do |north_america_country| %>
            <li>
              <%= link_to country_path(north_america_country.id) do %>
                <%= north_america_country.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="wrapper-inner">
      <div class="region south-america">
        <p class="region-name white">South America</p>
      </div>
      <div class="country">
        <ul class="country-item">
          <% @south_america_countries.each do |south_america_country| %>
            <li>
              <%= link_to country_path(south_america_country.id) do %>
                <%= south_america_country.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="wrapper-bottom">
    <div class="wrapper-inner">
      <div class="region central-america">
        <p class="region-name white">Central America</p>
      </div>
      <div class="country">
        <ul class="country-item">
          <% @central_america_countries.each do |central_america_country| %>
            <li>
              <%= link_to country_path(central_america_country.id) do %>
                <%= central_america_country.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="wrapper-inner">
      <div class="region oceania">
        <p class="region-name white">Oceania</p>
      </div>
      <div class="country">
        <ul class="country-item">
          <% @oceania_countries.each do |oceania_country| %>
            <li>
              <%= link_to country_path(oceania_country.id) do %>
                <%= oceania_country.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="wrapper-inner">
      <div class="region africa">
        <p class="region-name white">Africa</p>
      </div>
      <div class="country">
        <ul class="country-item">
          <% @africa_countries.each do |africa_country| %>
            <li>
              <%= link_to country_path(africa_country.id) do %>
                <%= africa_country.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="wrapper-inner">
      <div class="region middle-east">
        <p class="region-name white">Middle East</p>
      </div>
      <div class="country">
        <ul class="country-item">
          <% @middle_east_countries.each do |middle_east_country| %>
            <li>
              <%= link_to country_path(middle_east_country.id) do %>
                <%= middle_east_country.name %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>

<%= render "shared/footer"%>
