<%= render "shared/header"%>

<section class="country-showcase">
  <div class="country-showcase-content">
    <h1 class="orange"><%= @country.name %></h1>
  </div>
</section>

<section class="tabs">
  <div class="container">
    <div id="tab-1" class="tab-item tab-border">
      <%= icon('fas', 'glass-cheers', class: 'icon') %>
      <p>Event</p>
    </div>
    <div id="tab-2" class="tab-item">
      <%= icon('fas', 'newspaper', class: 'icon') %>
      <p>Article</p>
    </div>
    <div id="tab-3" class="tab-item">
      <%= icon('fas', 'question', class: 'icon') %>
      <p>Q&A</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="container">
    <%# タブコンテント イベント %>
    <div id="tab-1-content" class="tab-content-item show">
      <div class="tab-1-content-inner">
        <% if user_signed_in? %>
          <div class="newpost">
            <span class="heading-sm">Start a New Event?  </span>
            <%= link_to "Click here", new_event_path, class: "heading-sm link blue" %>
          </div>
        <% else %>
          <div class="newpost">
            <span class="heading-sm">Start a New Event?  </span>
            <%= link_to "Click here", new_user_session_path, class: "heading-sm link blue" %>
          </div>
        <% end %>
        <div class="wrapper-category">
          <h2 class="category">Latest Events</h2>
          <ul class="list-event slider">
            <% @events.each do |event| %>
              <li class="item-event">
                <%= link_to event_path(event.id) do %>
                  <div class="image-event"><%= image_tag event.image.variant(resize: '300x200') %></div>
                  <div class="title-event"><%= event.title %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="wrapper-category">
          <h2 class="category">Events to learn new language</h2>
          <ul class="list-event slider">
            <% @language_events.each do |language_event| %>
              <li class="item-event">
                <%= link_to event_path(language_event.id) do %>
                  <div class="image-event"><%= image_tag language_event.image.variant(resize: '300x200') %></div>
                  <div class="title-event"><%= language_event.title %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="wrapper-category">
          <h2 class="category">Let's play sports together</h2>
          <ul class="list-event slider">
            <% @sports_events.each do |sports_event| %>
              <li class="item-event">
                <%= link_to event_path(sports_event.id) do %>
                  <div class="image-event"><%= image_tag sports_event.image.variant(resize: '300x200') %></div>
                  <div class="title-event"><%= sports_event.title %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="wrapper-category">
          <h2 class="category">Learn about new things</h2>
          <ul class="list-event slider">
            <% @education_events.each do |education_event| %>
              <li class="item-event">
                <%= link_to event_path(education_event.id) do %>
                  <div class="image-event"><%= image_tag education_event.image.variant(resize: '300x200') %></div>
                  <div class="title-event"><%= education_event.title %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>  
    <%# タブコンテント 記事 %>
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-inner">
        <% if user_signed_in? %>
          <div class="newpost">
            <span class="heading-sm">Write a New Article?  </span>
            <%= link_to "Click here", new_article_path, class: "heading-sm link blue" %>
          </div>
        <% else %>
          <div class="newpost">
            <span class="heading-sm">Start a New Article?  </span>
            <%= link_to "Click here", new_user_session_path, class: "heading-sm link blue" %>
          </div>
        <% end %>
        <div class="wrapper-category">
          <h2 class="category">Latest Articles</h2>
          <ul class="list-article slider">
            <% @articles.each do |article| %>
              <li class="item-article">
                <%= link_to article_path(article.id) do %>
                  <div class="image-article"><%= image_tag article.image.variant(resize: '300x200') %></div>
                  <div class="title-article"><%= article.title %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="wrapper-category">
          <h2 class="category">Articles about Everyday Life</h2>
          <ul class="list-article slider">
            <% @life_articles.each do |life_article| %>
              <li class="item-article">
                <%= link_to article_path(life_article.id) do %>
                  <div class="image-article"><%= image_tag life_article.image.variant(resize: '300x200') %></div>
                  <div class="title-article"><%= life_article.title %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="wrapper-category">
          <h2 class="category">Articles about community</h2>
          <ul class="list-article slider">
            <% @community_articles.each do |community_article| %>
              <li class="item-article">
                <%= link_to article_path(community_article.id) do %>
                  <div class="image-article"><%= image_tag community_article.image.variant(resize: '300x200') %></div>
                  <div class="title-article"><%= community_article.title %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="wrapper-category">
          <h2 class="category">Articles about food & drink</h2>
          <ul class="list-article slider">
            <% @food_articles.each do |food_article| %>
              <li class="item-article">
                <%= link_to article_path(food_article.id) do %>
                  <div class="image-article"><%= image_tag food_article.image.variant(resize: '300x200') %></div>
                  <div class="title-article"><%= food_article.title %></div>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>  

    <%# タブコンテント Q&A %>
    <div id="tab-3-content" class="tab-content-item">
      <div class="tab-3-content-inner">
        <% if user_signed_in? %>
          <div class="newpost">
            <span class="heading-sm">Ask Your Question?  </span>
            <%= link_to "Click here", new_question_path, class: "heading-sm link blue" %>
          </div>
        <% else %>
          <div class="newpost">
            <span class="heading-sm">Ask Your Question?  </span>
            <%= link_to "Click here", new_user_session_path, class: "heading-sm link blue" %>
          </div>
        <% end %>
        <div class="wrapper-category">
          <h2 class="category">Latest Questions</h2>
          <ul class="list-question">
          <% @questions.each do |question| %>
            <li class="item-question">
              <%= link_to question_path(question.id) do %>
                <div class="wrapper-row">
                  <% if question.status_id == 1 %>
                    <div class="status-question-open"><%= question.status.name %></div>
                  <% else %>
                    <div class="status-question-close"><%= question.status.name %></div>
                  <% end %>
                  <div class="title-question"><%= question.title %></div>
                </div>
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>  
</section>

<%= render "shared/footer"%>